@import url(../style/zero.css);
html, body{
   height: 100%;
   background: rgb(42, 42, 42);
   margin: 0 auto;
}
.wrapper {
   background-color: rgb(22, 22, 23);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   background: rgb(42, 42, 42);
}
.calc__item {
   width: 250px;
   background: rgb(42, 42, 42);
   border-radius: 20px;
   box-shadow: 0px 0px 5px 0px red;
   padding: 0px 10px;
}
.calc__item-box {
   margin: 15px 0px;
   width: 100%;
}
.calc__item-box input{
   background-color: black;
   width: 100%;
   height: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 3px 0px red;
   color: rgb(255, 213, 0);
   font-size: 16px;
   text-align: center;
}
.calc__item-box button {
   background-color: black;
   width: 100%;
   height: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 3px 0px red;
   color: rgb(255, 213, 0);
   font-size: 16px;
   text-align: center;
}
.calc__item-box p {
   padding: 5px 0px 0px 0px;
   background-color: black;
   width: 100%;
   height: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 3px 0px red;
   color: rgb(255, 213, 0);
   font-size: 16px;
   text-align: center;
}